html {
    height: 100%
}

body {
    background: linear-gradient(to bottom, #2a223f, #776b96, #aba5c9) no-repeat;
    font-family: "Britannic Bold", sans-serif;
    margin: 0;
}

nav {
    margin: auto;
    background-color: #2A223FFF;
    padding: 17px;
    border-bottom: 2px solid #32294b;
}

.nav-bar-list ul {
    margin: 0;
    padding: 0;
}

.nav-bar-list li {
    display: inline-block;
    margin: 0 40px 0 0;
}

.nav-bar-list a {
    text-decoration: none;
    color: #aba5c9;
    font-size: 18px;
}

.nav-bar-list a:hover {
    color: #FFFFFFFF;
    transition: 0.4s;
}

.logo-type {
    font-weight: bold;
    color: #e3defd;
}