body {
    background-color: gray;
    margin: 0;
}

ul {
    background-color: #cccccc;
    margin: 0;
    padding: 0 0 0 10px;
}

li {
    font-size: 17px;
    padding: 5px 10px 5px 0;
    display: inline-block;
}

ul a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-family: "Dubai Medium", sans-serif;
}

ul a:hover {
    color: red;
    transition: 0.5s;
}

nav {
    padding: 0 0 0 0;
}

.signup-form {
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: #5b5b5b;
    border-radius: 4px;
}

.signup-form input {
    border: 1px solid rgba(0, 0, 0, 0.58);
    text-align: center;
}

.signup-form .form-input {
    font-family: sans-serif;
    font-style: italic;
    font-size: 15px;
    margin: 2px;
    padding: 5px;
    width: 230px;
    border-radius: 5px;
}

.signup-form .form-input:focus {
    background-color: #f5f5f5;
}

.signup-form .submit-button {
    padding: 3px 5px;
    margin: 15px 0 10px 0;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
}

.signup-form .submit-button:hover {
    color: gray;
    cursor: pointer;
}

.signup-form .form-label {
    font-family: "Arial Black", sans-serif;
    font-size: 35px;
    margin: 35px 0 15px 0;
}